In [ ]:
# Modules
Certain features of Python are not loaded by default. These include both features that are included as part of the language as well as third-party features that you download yourself. In order to use these features, you'll need to import the modules that contain them.

In [1]:
# One approach is to simply import the module itself:

import re
#  re is the module containing functions and constants for working with regular expressions
my_regex = re.compile("[0-9]+", re.I)

# Functions

In [2]:
def double(x):
    return x*2

double(5)

10

In [3]:
# First-Class: Can define a variable as a function

def apply_to_one(f):
    return f(1)

my_double = double
x = apply_to_one(my_double); x

2

In [4]:
# Lambda functios

y = apply_to_one(lambda x: x + 4); y
# y is where x is defined, for whatever value of x, add 4

5

In [5]:
# default arguments

def my_print(message = "my default message"):
    print(message)

print(my_print())
print(my_print('Hello!'))

my default message
None
Hello!
None

# Strings

In [6]:
# Encode special characters

tab_string = '\t'
len(tab_string)

1

In [7]:
# raw strings
not_tab_string = r"\t"
len(not_tab_string)

2

In [8]:
# F strings

first_name = 'Kristina'
last_name = 'Frazier'

full_name = f"{first_name} {last_name}"; full_name

'Kristina Frazier'

# Exceptions

In [9]:
try:
    print(0/0)
except ZeroDivisionError:
    print('cannot divide by zero')

cannot divide by zero

# Lists

In [10]:
# Modify a list in place
x = [1,2,3]
x

[1, 2, 3]

In [11]:
x.extend([4,5,6])
x

[1, 2, 3, 4, 5, 6]

In [12]:
y = x + [7,8,9]
y

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
# Unpack a list (assign variables using a list)
first, second = ['Kristina','Frazier']
print(first)
print(second)

Kristina
Frazier

# Tuples

In [14]:
my_tuple = (1,2)

In [15]:
other_tuple = 3,4

In [16]:
def sum_and_product(x,y):
    # this is formated to return a tuple
    return (x + y), (x*y)

sp = sum_and_product(2,3)
sp

(5, 6)

In [17]:
s,p = sum_and_product(5,10)
print(s)
print(p)

15
50

In [18]:
s

15

In [19]:
p

50

# Dictionaries

In [20]:
# Three ways to create a dictionary
empty_dict = {}
empty_dict2 = dict()
grades = {"Joel":80,"Tim":95}

In [21]:
# Look up a key value
grades['Joel']

80

In [22]:
# Check for the existence of a key
"Joel" in grades

True

In [23]:
"Kate" in grades

False

In [24]:
# assign key value pairs:
grades['Kristina'] = 100
grades

{'Joel': 80, 'Tim': 95, 'Kristina': 100}

In [25]:
# Retrieve keys and values
grades.keys()

dict_keys(['Joel', 'Tim', 'Kristina'])

In [26]:
grades.values()

dict_values([80, 95, 100])

In [27]:
grades.items()

dict_items([('Joel', 80), ('Tim', 95), ('Kristina', 100)])

# Counter
A counter turns a sequence of values into an object mapping keys to counts

In [28]:
from collections import Counter
c = Counter(range(5))

In [29]:
c

Counter({0: 1, 1: 1, 2: 1, 3: 1, 4: 1})

# Sets
A collection of distinct elements

In [30]:
s = set()
s.add(1)
s.add(2)
s.add(2)
s

{1, 2}

In [31]:
2 in s

True

In [32]:
3 in s

False

In [33]:
# Great for membership tests
stopwords_list = ["a","an","at"] + ["yet","you"]
stopwords_list

['a', 'an', 'at', 'yet', 'you']

In [34]:
'zip' in stopwords_list # checks every element

False

In [35]:
'zip' in set(stopwords_list) # less elements to check

False

In [36]:
# Find distinct items in a list
item_list = [1, 2, 3, 1, 2, 3]
set(item_list)

{1, 2, 3}

# Control Flow

In [37]:
if 1 > 2:
 message = "if only 1 were greater than two..."
elif 1 > 3:
 message = "elif stands for 'else if'"
else:
 message = "when all else fails use else (if you want to)"

In [38]:
# ternary if-then-else on one line
x = 3
parity = "even" if x % 2 == 0 else "odd"
parity

'odd'

In [39]:
# continue and break
for x in range(10):
    if x == 3:
        continue # go immediately to the next iteration
    if x == 5:
        break # quit the loop entirely
    print (x)

0
1
2
4

In [40]:
for x in range(20):
    if x%2  == 0:
        continue # go immediately to the next iteration
    if x == 15:
        break # quit the loop entirely
    print (x)

1
3
5
7
9
11
13

# List Comprehensions

In [41]:
even_numbers = [x for x in range(5) if x % 2 == 0]; even_numbers

[0, 2, 4]

In [42]:
# Turn a lists into dictionary of sets:
square_dict = {x : x * x for x in range(5)}; square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [43]:
# Just use an underscore also to represent lengh of list object you're iterating over
print(even_numbers)
zeroes = [0 for _ in even_numbers]
print(zeroes)

[0, 2, 4]
[0, 0, 0]

In [44]:
# Can include multiple Fors:
pairs = [(x,y)
        for x in range(10)
        for y in range(10)]

pairs[:5] # 100 pairs (0,0) (0,1) ... (9,8), (9,9)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4)]

In [45]:
# Later fors can use the results of earlier fors:
increasing_pairs = [(x, y)
                   for x in range(10)
                   for y in range(x + 1, 10)]

# Generators and Iterators
A generator is something that you can iterate over (for us, usually using for) but
whose values are produced only as needed (lazily).

In [2]:
def lazy_range(n):
    """a lazy version of range"""
    i = 0
    while i < n:
        yield i
        i += 1

In [4]:
print(lazy_range(10))

<generator object lazy_range at 0x0000029B6D3E3040>

In [6]:
# The following loop will consume the yielded values one at a time until none are left:
for i in lazy_range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Randomness

In [10]:
import random
four_uniform_randoms = [random.random() for _ in range(4)]

In [11]:
four_uniform_randoms

[0.8000454981026972,
 0.052615304770457394,
 0.26059049386631705,
 0.6328827111158103]

In [12]:
[random.random() for _ in range(10)]

[0.9812912147941227,
 0.1783428432198686,
 0.6459181304917104,
 0.6907320164155208,
 0.5159462234518911,
 0.7106647241120947,
 0.5551061934551954,
 0.6756045171384212,
 0.5846281058516148,
 0.5544463418816418]

In [16]:
[random.random()* 100 for _ in range(10)]

[81.65426853166332,
 74.5916343932444,
 48.818993020864056,
 46.97649577834867,
 76.47531023453821,
 16.837684988514212,
 41.52828002595322,
 47.610553697749026,
 22.84402758038918,
 18.099040745004224]

In [17]:
random.randrange(10) # choose randomly from range(10) = [0, 1, ..., 9]

4

In [19]:
random.randrange(3, 6) # choose randomly from range(3, 6) = [3, 4, 5]

5

In [29]:
# random.shuffle randomly reorders the elements of a list:

up_to_ten = list(range(10))
random.shuffle(up_to_ten)
print (up_to_ten)
# [2, 5, 1, 9, 7, 3, 8, 6, 4, 0] (your results will probably be different)

[2, 9, 8, 5, 6, 0, 7, 3, 1, 4]

In [31]:
# If you need to randomly pick one element from a list you can use random.choice:
my_best_friend = random.choice(["Alice", "Bob", "Charlie"])
my_best_friend

'Bob'

In [33]:
# randomly choose a sample of elements without replacement
lottery_numbers = range(60)
winning_numbers = random.sample(lottery_numbers, 6) # [16, 36, 10, 6, 25, 9]
winning_numbers

[7, 9, 14, 39, 22, 25]

In [35]:
# choose a sample of elements with replacement (i.e., allowing duplicates)
four_with_replacement = [random.choice(range(10)) for _ in range(4)]
four_with_replacement

[9, 8, 5, 5]

# Regular Expressions
https://regexone.com/

# Object-Oriented Programming

In [ ]:
# define a class named "set"

class Set:
    # define some member functions, always with a first parameter, "self"
    
    def _init_(self, values=None):
        #

# Functional Tools

In [36]:
from functools import partial

In [39]:
def exp(base, power):
    return base ** power

# as opposed to using def to define a new function as two_to_the
two_to_the = partial(exp, 2)

two_to_the(3)

8

# enumerate

# zip and Argument Unpacking

# args and kwargs