In [1]:
# Modules
# Certain features of Python are not loaded by default. These include both features that are included as part of the language as well as third-party features that you download yourself. In order to use these features, you'll need to import the modules that contain them.

In [2]:
# One approach is to simply import the module itself:

import re
#  re is the module containing functions and constants for working with regular expressions
my_regex = re.compile("[0-9]+", re.I)

# Functions

In [3]:
# Remember the basic syntax of a function
def double(x):
    return x*2

double(5)

10

In [6]:
def cubed(x):
    return x**3

cubed(2)

8

In [7]:
# A variable can be defined as a function

def apply_to_one(f):
    return f(1)

my_double = double
x = apply_to_one(my_double); x

2

In [12]:
# Define the function
def cubed(x):
    return x**3

# assign the function to a variable. the following is the type "function"
my_cubed = cubed


# define a second function, where an argument is defined 
# and the argument is defined in the function as a function
def apply_to_three(x):
    return x(3)

y = apply_to_three(my_cubed); y

27

In [ ]:
# Lambda functios

y = apply_to_one(lambda x: x + 4); y
# y is where x is defined, for whatever value of x, add 4

In [ ]:
# default arguments

def my_print(message = "my default message"):
    print(message)

print(my_print())
print(my_print('Hello!'))

# Strings

In [ ]:
# Encode special characters

tab_string = '\t'
len(tab_string)

In [ ]:
# raw strings
not_tab_string = r"\t"
len(not_tab_string)

In [ ]:
# F strings

first_name = 'Kristina'
last_name = 'Frazier'

full_name = f"{first_name} {last_name}"; full_name

# Exceptions

In [ ]:
try:
    print(0/0)
except ZeroDivisionError:
    print('cannot divide by zero')

# Lists

In [ ]:
# Modify a list in place
x = [1,2,3]
x

In [ ]:
x.extend([4,5,6])
x

In [ ]:
y = x + [7,8,9]
y

In [ ]:
# Unpack a list (assign variables using a list)
first, second = ['Kristina','Frazier']
print(first)
print(second)

# Tuples

In [ ]:
my_tuple = (1,2)

In [ ]:
other_tuple = 3,4

In [ ]:
def sum_and_product(x,y):
    # this is formated to return a tuple
    return (x + y), (x*y)

sp = sum_and_product(2,3)
sp

In [ ]:
s,p = sum_and_product(5,10)
print(s)
print(p)

In [ ]:
s

In [ ]:
p

# Dictionaries

In [ ]:
# Three ways to create a dictionary
empty_dict = {}
empty_dict2 = dict()
grades = {"Joel":80,"Tim":95}

In [ ]:
# Look up a key value
grades['Joel']

In [ ]:
# Check for the existence of a key
"Joel" in grades

In [ ]:
"Kate" in grades

In [ ]:
# assign key value pairs:
grades['Kristina'] = 100
grades

In [ ]:
# Retrieve keys and values
grades.keys()

In [ ]:
grades.values()

In [ ]:
grades.items()

# Counter
A counter turns a sequence of values into an object mapping keys to counts

In [ ]:
from collections import Counter
c = Counter(range(5))

In [ ]:
c

# Sets
A collection of distinct elements

In [ ]:
s = set()
s.add(1)
s.add(2)
s.add(2)
s

In [ ]:
2 in s

In [ ]:
3 in s

In [ ]:
# Great for membership tests
stopwords_list = ["a","an","at"] + ["yet","you"]
stopwords_list

In [ ]:
'zip' in stopwords_list # checks every element

In [ ]:
'zip' in set(stopwords_list) # less elements to check

In [ ]:
# Find distinct items in a list
item_list = [1, 2, 3, 1, 2, 3]
set(item_list)

# Control Flow

In [ ]:
if 1 > 2:
 message = "if only 1 were greater than two..."
elif 1 > 3:
 message = "elif stands for 'else if'"
else:
 message = "when all else fails use else (if you want to)"

In [ ]:
# ternary if-then-else on one line
x = 3
parity = "even" if x % 2 == 0 else "odd"
parity

In [ ]:
# continue and break
for x in range(10):
    if x == 3:
        continue # go immediately to the next iteration
    if x == 5:
        break # quit the loop entirely
    print (x)

In [ ]:
for x in range(20):
    if x%2  == 0:
        continue # go immediately to the next iteration
    if x == 15:
        break # quit the loop entirely
    print (x)

# List Comprehensions

In [ ]:
even_numbers = [x for x in range(5) if x % 2 == 0]; even_numbers

In [ ]:
# Turn a lists into dictionary of sets:
square_dict = {x : x * x for x in range(5)}; square_dict

In [ ]:
# Just use an underscore also to represent lengh of list object you're iterating over
print(even_numbers)
zeroes = [0 for _ in even_numbers]
print(zeroes)

In [ ]:
# Can include multiple Fors:
pairs = [(x,y)
        for x in range(10)
        for y in range(10)]

pairs[:5] # 100 pairs (0,0) (0,1) ... (9,8), (9,9)

In [ ]:
# Later fors can use the results of earlier fors:
increasing_pairs = [(x, y)
                   for x in range(10)
                   for y in range(x + 1, 10)]

# Generators and Iterators
A generator is something that you can iterate over (for us, usually using for) but
whose values are produced only as needed (lazily).

In [ ]:
def lazy_range(n):
    """a lazy version of range"""
    i = 0
    while i < n:
        yield i
        i += 1

In [ ]:
print(lazy_range(10))

In [ ]:
# The following loop will consume the yielded values one at a time until none are left:
for i in lazy_range(10):
    print(i)

In [ ]:
list(range(10))

# Randomness

In [ ]:
import random
four_uniform_randoms = [random.random() for _ in range(4)]

In [ ]:
four_uniform_randoms

In [ ]:
[random.random() for _ in range(10)]

In [ ]:
[random.random()* 100 for _ in range(10)]

In [ ]:
random.randrange(10) # choose randomly from range(10) = [0, 1, ..., 9]

In [ ]:
random.randrange(3, 6) # choose randomly from range(3, 6) = [3, 4, 5]

In [ ]:
# random.shuffle randomly reorders the elements of a list:

up_to_ten = list(range(10))
random.shuffle(up_to_ten)
print (up_to_ten)
# [2, 5, 1, 9, 7, 3, 8, 6, 4, 0] (your results will probably be different)

In [ ]:
# If you need to randomly pick one element from a list you can use random.choice:
my_best_friend = random.choice(["Alice", "Bob", "Charlie"])
my_best_friend

In [ ]:
# randomly choose a sample of elements without replacement
lottery_numbers = range(60)
winning_numbers = random.sample(lottery_numbers, 6) # [16, 36, 10, 6, 25, 9]
winning_numbers

In [ ]:
# choose a sample of elements with replacement (i.e., allowing duplicates)
four_with_replacement = [random.choice(range(10)) for _ in range(4)]
four_with_replacement

# Regular Expressions
https://regexone.com/

# Object-Oriented Programming

In [ ]:
# define a class named "set"

class Set:
    # define some member functions, always with a first parameter, "self"
    
    def _init_(self, values=None):
        #

# Functional Tools

In [ ]:
from functools import partial

In [ ]:
def exp(base, power):
    return base ** power

# as opposed to using def to define a new function as two_to_the
two_to_the = partial(exp, 2)

two_to_the(3)

# enumerate

# zip and Argument Unpacking

# args and kwargs